@model List<UpdatedToDo.Models.ToDo>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form action="/Add" method="get">
        <input type="submit" name="name" value="Add" />
    </form>
    <form action="/ListFinished" method="get">
        <input type="submit" name="name" value="List Finished" />
    </form>
    <form action="/ListUnFinished" method="get">
        <input type="submit" name="name" value="List Not Finished" />
    </form>

    <table>
        <tr>
            <td>Id</td>
            <td>To Do</td>
            <td>Is it Finished?</td>
            <td>Is it urgent?</td>
            <td>Delete</td>
            <td>Edit</td>
        </tr>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.title</td>
                <td>@todo.isDone</td>
                <td>@todo.isUrgent</td>
                <td><a href="/Delete/@todo.Id">delete it</a></td>
                <td><a href="/Edit/@todo.Id">edit it</a></td>
            </tr>
        }
    </table>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>