@model long?

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="addLocation?tripName=name&description=name&@Model" method="get">
        <br />
        <label for="name">Name of the Trip</label>
        <input type="text" name="tripName" id="name"/>
        <br />

        <label for="description">Description for the Trip</label>
        <input type="text" name="description" id="description"/>
        <br />

        <button type="submit">Create New Trip</button>
    </form>

    <br />
    <br />

    <form action="" method="get">
        <input type="text" name="q" />
        <button type="submit">Go back to the main page</button>
    </form>df

    
</body>
</html>
