*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  padding: 3rem;
}

main {
  background-color: grey;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.headline{
  flex: 1 1 100%;
  height: 30px;
  background-color: pink;
}

.personaldata{
  flex: 1 1 50%;
  height: 600px;
  
}

.personaldata.left{
  background-color: red;
}

.personaldata.left{
  background-color: purple;
}

.introduction{
  flex: 1 1 100%;
  height: 300px;
  background-color: blue;
}

.button{
  flex: 1 1 100%;
  height: 300px;
  background-color: yellow;
}