*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  padding: 3rem;
}

main {
  background-color: grey;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.headline{
  flex: 1 1 100%;
  height: 30px;
  background-color: pink;
  text-align: left;
  font-size: 20px;
}

.personaldata{
  flex: 1 1 50%;
  height: 600px;
  
}



.introduction{
  flex: 1 1 100%;
  height: 300px;
  v
}

.data{
  flex: 1 1 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.data.first{
  background-color:blue;
  flex: 1 1 100%;
  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center
  }

  .data.first p{
    padding-left: 100px;
    padding-right: 100px;    
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px;
    margin: 3px;
    background-color: grey;
    color: white;
  }

.data.third{
  background-color: yellow;
  flex: 1 1 100%;
  height: 100px;
}
.data.fourth{
  background-color: brown;
  flex: 1 1 100%;
  height: 300px;
}




.data.fifth{
  background-color: brown;
  flex: 1 1 100%;
}

.data.sixth{
  background-color: pink;
  flex: 1 1 100%;
}
.data.seventh{
  background-color: white;
  flex: 1 1 100%;
}
  .data.eights{
  background-color: blue;
  flex: 1 1 100%;
}
.data.nineths{
  background-color: red;
  flex: 1 1 100%;
}

.data.tenths{
  background-color: green;
  flex: 1 1 100%;
  }

.button{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  height: 300px;
  background-color: yellow;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  height: 100px;
}

.row.first{
  background-color: green;
  flex: 1 1 100%;
}

.row.second{
  background-color: red;
  flex: 1 1 100%;
}

.row.third{
  background-color: blue;
  flex: 1 1 100%;
}