
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <a href="">Information</a>
    <img src="D:\Greenfox Academy tananyag\repos\greenfox\TamasKerdo\week-07\FoxClub\Images\greenfox.png" alt="Smiley face" height="42" width="42">
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <h1>Known tricks</h1>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>
