@model BankOfSimba.ViewModels.AccountViewModel

    <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @foreach (var account in Model.BankAccountList)
    {
        <td>@account.Balance.ToString("0.00")</td>
        <td>@account.Name.</td>
        <td>@account.AnimalType</td>
    }  

</body>
</html>