@model BankOfSimba.Models.BankAccounts

    <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
  <td>@Model.Balance</td>
  <td>@Model.Name.ToString()</td>
  <td>@Model.AnimalType</td>

</body>
</html>