div{
  
  box-sizing: border-box;
  border:solid #4285F4 16px;
  width: 348px;
  margin: 10px;
  }
  
  
  div p{
    
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
    padding-top: 46.25px;
    padding-bottom: 46.25px;
    text-align: center;
    color: white;
  }
  
.top_box{
  background-color: #E67676;
}

.bottom_box{
  background-color: #A9E6E6;
}