<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>

    </style>

</head>
<body>
    <div class="container">
        <form action="/addNewPost" method="post" class="form-group">            
                <label for="formGroupExampleInput">New Post</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" name="name">           
        </form>
    </div>
</body>
</html>

