<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
     
    </style>

</head>
<body>
    <div class="container">


        <h1 class="display-1">Hello User!</h1>
        

        <button type="button" class="btn btn-danger">Add New Post</button>
        <br />
        <br />
        <h1 class="display-3">Posts</h1>
        <br />

        <div class="container">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-xs-3">SCORE</th>
                        <th class="col-xs-3">Actions</th>
                        <th class="col-xs-6">Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-xs-3">John</td>
                        <td class="col-xs-3">Doe</td>
                        <td class="col-xs-6">johndoe@email.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</body>
</html>