@model List<Reddit.Models.Post>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
     
    </style>

</head>
<body>
    <div class="container">


        <h1 class="display-1">Hello User!</h1>
        
        <form action="/add" method="get">
            <button type="submit" class="btn btn-danger">Add New Post</button>
        </form>
        <br />
        <form action="/posts/ListTheBests" method="get">
            <button type="submit" class="btn btn-Success">List the bests</button>
        </form>
        
        <br />
        <h1 class="display-3">Posts</h1>
        <br />

        <div class="container">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-xs-3">NumberOf Likes</th>
                        <th class="col-xs-3">Actions</th>
                        <th class="col-xs-6">Context</th>
                        <th class="col-xs-6">Time Of The Post</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td class="col-xs-3">@post.Opinion</td>  
                            <td class="col-xs-3"><a href="/IncreaseOpinion/@post.PostId">+</a><a href="/DecreaseOpinion/@post.PostId">-</a></td>
                            <td class="col-xs-3">@post.PostContent</td>                            
                            <td class="col-xs-6">@post.TimoeOfThePost</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>         

</div>
</body>
</html>
