<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Welcome!</h1>
    <form action="createNew?q=name" method="get">
        <input type="text" name="q" />
        <button type="submit">Crate New Account</button>
    </form>

    <form action="login?q=name" method="get">
        <input type="text" name="q" />
        <button type="submit">Login</button>
    </form>

</body>
</html>