@model FirstSQLServerSetup.Models.ToDo
    <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/add" method="post">
        Title:
        <br />
        <input type="text" name="Title">
        IsUrgent:
        <input type="checkbox" name="IsUrgent" value="true"/>
        <br />        
    </form>
</body>
</html>