@model FirstSQLServerSetup.Models.ToDo
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/edit/@Model.Id" method="post">
            Title:
            <br />
            <input type="text" name="Title">
            IsUrgent:
            <input type="checkbox" name="IsUrgent" value="true" />
            <br />
            IsDone:
            <input type="checkbox" name="IsDone" value="true" />
            <br />
            <input type="submit" value="Add ToDo">
    </form>
</body>
</html>